* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 100px;
    height: 600px;
    place-content: center;
    place-items: end;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 1rem;
    background-color: lightblue;
}