* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
.contenedor {
    border: 5px solid #32b69e;
    background-color: rgb(122, 31, 31);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));   
}
.contenedor-2 {
    border: 5px solid #32b69e;
    background-color: rgb(122, 31, 31);
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
}
.item {
    border: 5px solid #280247;
    font-size: 2rem;
}