* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
.contenedor {
    border: 5px solid #32b69e;
    background-color: rgb(122, 31, 31);
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, auto);    
}
.item {
    border: 5px solid #280247;
    font-size: 2rem;
}